h1 {
    margin-left: 2em;
}

ul {
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5em;
    padding: 0;
    li {
        padding: 0;
        background-color: gainsboro;
        border: 1px solid black;
        padding: 2em;
        margin-bottom: 1em;
        cursor: pointer;

        &:hover {
            transform: translateX(2px);
        }

        p {
            font-family: fantasy;
            font-size: 2em;
            &::before, &::after {
                content: '\"';
            } 
        }
        


        i {
            float: right;
            sub:before {
                content: "~/";
                font-size: smaller;
            } 
        }
    }

    
}

.navigator {
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    button {
        background-color: lightgray;
        border: none;
        color: rgb(0, 0, 126);
        padding: 0.5em;
        cursor: pointer;

        &:hover {
            transform: translateX(2px);
        }
    }
}


#previous, #next {
    &:disabled {
        color: gray;
        transform: translate(0);
        cursor: default;
    }
}